[GLOBAL]
VID = 0x0547
PID = 0x1080
INPUT_FILTER = 1
RECORD_LENGTH = 8
TRIGGER_LUT = 0xFFFE
# 💡 벤더 setup.txt와 동일하게 전부 1(Enable)로 변경!
PULSE_COUNT_EN = 1
PULSE_WIDTH_EN = 1
PULSE_COUNT_THR = 1
PULSE_COUNT_INT = 1000
PULSE_WIDTH_THR = 100
DEADTIME = 0
COINCIDENCE_WIDTH = 1000

[CH0]
OFFSET = 3500
DELAY = 100
POLARITY = 0
THRESHOLD = 100  # 

[CH1]
OFFSET = 3500
DELAY = 100
POLARITY = 0
THRESHOLD = 100

[CH2]
OFFSET = 3500
DELAY = 100
POLARITY = 0
THRESHOLD = 100

[CH3]
OFFSET = 3500
DELAY = 100
POLARITY = 0
THRESHOLD = 100