# KFADC500_USB DAQ Configuration File
# ---------------------------------------------------

[GLOBAL]
INPUT_FILTER = 1
RECORD_LENGTH = 8
TRIGGER_LUT = 0xFFFE
PULSE_COUNT_EN = 1
PULSE_WIDTH_EN = 1
PULSE_COUNT_THR = 1
PULSE_COUNT_INT = 1000
PULSE_WIDTH_THR = 100
DEADTIME = 0
COINCIDENCE_WIDTH = 1000

# ---------------------------------------------------
# Channel Specific Settings (CH0 ~ CH3)
# ---------------------------------------------------
[CH0]
OFFSET = 3500
DELAY = 100
POLARITY = 0
THRESHOLD = 150

[CH1]
OFFSET = 3450
DELAY = 100
POLARITY = 0
THRESHOLD = 120

[CH2]
OFFSET = 3500
DELAY = 100
POLARITY = 0
THRESHOLD = 200

[CH3]
OFFSET = 3500
DELAY = 100
POLARITY = 0
THRESHOLD = 100